<h2 id="title">Welcome to ember-cli-puppet</h2>

<div data-test>
  {{puppet-counter count=2 onPuppet=(action (mut instance))}}
</div>
<button data-call {{action (puppet-call instance 'inc')}}></button>
<button data-action {{action (puppet-action instance 'inc10')}}></button>